body{ 
  background-color: #e6f1f1;
& div {


    display: flex;
    justify-content: center ; 
    flex-direction: column; 
    align-items: center;
}
}

.Description{
  color: rgb(75, 109, 173);
  font-size:2rem;
}
#Presentacion-mi-nombre{
  color: rgb(9, 38, 67);
  font-size: 3rem;
}
.element-list-greeting{
  color: #65487f;
  list-style:inside;
}
